	#top {
		background-color: rgba(110,211,207,0.8);
	}

	/* table {
		width: 100%;
		background-color: rgba(240,245,240,0.9);
		color: black;
	}
	td,th {
		height : 25px;
		text-align :center;
		border-bottom:3px solid white;
	}
	th {
		text-align :center;
		border-bottom:3px solid white;
		background-color: rgba(150,150,150,0.8);
		border-top:3px solid white;
	} */
	
	.onbtn {
		width: 3em;
		background-color: rgba(46,139,87,1);
	
	}
	.offbtn {
		width: 3em;
		background-color: rgba(255,0,0,1);
	
	}
	
	.inputBox {
		Background-color: rgba(200,200,200,0.9);
		border-width: 0 0 0 0;
		padding-left: 5px;
		text-align:center;
		width: 6em;
	}
	
	#value {
		border-width: 0 0 2px 0 ;
		font-size: 25px; 
		background: transparent;
		color: black;
		padding-left: 5px;
		border-radius:3px;
		border-bottom-color:black;
	}
	
	.ng-invalid{
		color: red;
	}
	#myForm .ng-invalid-required{
		background-color: pink;
	}